<!DOCTYPE html>
<html lang="br-pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/Clientes/Cadastro/cadastro.css">
    <title>Cadastro</title>
</head>
<body>

<div class="mãe">

    <form id="formCadastro">
    <main class="container">
            <div class="titulo">
                <h1>Cadastro</h1>
            </div>
            <div class="caixas">
                <label for="nome"></label>
                <input id="nome" type="text" name="nome" placeholder="nome completo" required>
            </div>

            <div class="caixas">
                <label for="email"></label>
                <input id="email" type="email" name="email" placeholder="E-mail" required>
            </div>

            <div class="caixas">
                <label for="telefone"></label>
                <input id="telefone" type="text" name="telefone" placeholder="(XX) XXXXX-XXXX" required>
            </div>

            <div class="caixas">
                <label for="cpf"></label>
                <input id="cpf" type="text" name="cpf" placeholder="000.000.000-00" required>
            </div>

            <div class="caixas">
                <input id="senha" type="password" name="senha" placeholder="senha" required>
            </div>

            <div class="caixas">
                <input id="confirma" type="password" name="confirma" placeholder="confirme a senha">
            </div>

            <div>
                <button id="botao" type="submit" class="botao">Cadastrar?</button>
            </div>

        </main>

    </form>

</div>
<script src="/js/Clientes/Cadastro.js"> </script>
</body>
</html>