<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="/css/Admin/Admin.css" />
</head>

<body>
<header>
    <div class="logo">logo</div>
    <nav>
        <a href="#">home</a>
        <a href="#">planos</a>
        <a href="#">perfil</a>
    </nav>
</header>

<main>

    <aside class="bem-vindo">
        <h2>Bem vindo, <br> administrador!</h2>
    </aside>

    <section class="tabela-usuarios">
        <h2>Usuarios</h2>
        <div id="usuarios-container"></div>
        <button id="inserir-usuario" class="botao-inserir">Inserir</button>
    </section>
</main>

<footer>
    <p>© GroupNGsZ ©</p>
</footer>

<script src="/js/Admin/admin.js"></script>
</body>
</html>