* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #ccc;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    border-bottom: 3px solid #00f;
}

.logo {
    font-weight: bold;
}

nav a {
    margin-left: 20px;
    text-decoration: none;
    color: black;
}

main {
    display: flex;
    flex: 1;
    padding: 40px;
}

.bem-vindo {
    width: 30%;
    font-size: 24px;
    font-weight: bold;
}

.tabela-usuarios {
    width: 70%;
    background-color: #ddd;
    padding: 20px;
    border: 1px solid #444;
}

.tabela-usuarios h2 {
    text-align: center;
    margin-bottom: 20px;
}

.usuarios {
    margin-bottom: 15px;
    background-color: white;
    padding: 10px;
    border: 1px solid #aaa;
}

.entradas, .data {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

button {
    margin-left: 10px;
    padding: 10px 20px;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

button:hover {
    transform: scale(1.05);
}

#inserir-usuario {
    background-color: #4CAF50;
    font-size: 16px;
    font-weight: bold;
}

button.edit {
    background-color: #4CAF50;
}

button.delete {
    background-color: #f44336;
}

footer {
    background-color: #ccc;
    text-align: center;
    padding: 10px;
}
