<!DOCTYPE html>
<html lang="pt-br">
<head>
    <link rel="stylesheet" href="/css/plans.css">
</head>
<body>
<h1 class="titles titlePlan">PLANOS</h1>
<div id="container">
    <div class="itemPlan">
        <h2>BRONZE</h2>
        <div class="description bronze">
            <ul>
                <li>DESCONTO DE 25% EM PRODUTOS</li>
                <li>BRINDE RED BULL</li>
            </ul>
        </div>
        <button class="buttonPlan">EU QUERO!</button>
    </div>
    <div class="itemPlan">
        <h2>PRATA</h2>
        <div class="description silver">
            <ul>
                <li>DESCONTO DE 40% EM PRODUTOS</li>
                <li>BRINDE 1 COMBO GRÁTIS</li>
            </ul>
        </div>
        <button class="buttonPlan">EU QUERO!</button>
    </div>
    <div class="itemPlan">
        <h2>OURO</h2>
        <div class="description gold">
            <ul>
                <li>DESCONTO DE 50% EM PRODUTOS</li>
                <li>BRINDE 3 COMBO GRÁTIS</li>
                <LI>APERITIVOS A VONTADE </LI>
            </ul>
        </div>
        <button class="buttonPlan">EU QUERO!</button>
    </div>
</div>
</body>
</html>