<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script th:src="@{/js/main.js}"></script>
    <title>DRINK CITY</title>
</head>
<body>
<header>
    <div id="menu"></div>
</header>
<div id="home"></div>
<div id="plans"></div>
<div id="footer"></div>

<script th:src="@{/js/buttons.js}"></script>
<script th:if="${@environment.getProperty('google.maps.api-key')}"
        th:src="${'https://maps.googleapis.com/maps/api/js?key=' + @environment.getProperty('google.maps.api-key') + '&libraries=places'}"
        async
        defer>
</script>

<script th:src="@{/js/apiMaps.js}"></script>
</body>
</html>
