<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/templateCSS/menu.css">
    <script src="/js/main.js"></script>
</head>
<body>
<header>
    <nav>
        <img src="" alt="Logo">
        <div class="links">
            <a href="#home">home</a>
            <a href="#container">planos</a>
            <a href="../../views/Login/login.html">perfil</a>
            <a href="../../views/Admin/admin.html">admin</a>
        </div>
    </nav>
</header>
</body>
</html>